.container {
  min-width: 384px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.hidden {
  display: none !important;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}
