span {
  white-space: pre;
}

#logo {
  background-color: transparent;
  border: none;
}

.bg-blue-1 {
  background-color: #302e2b;
}

.bg-blue-2 {
  background-color: #262522;
}

.bg-dark-gray {
  background-color: #302e2b;
}

.bg-white {
  background-color: #f5f5f5;
}

.text-white {
  color: #f5f5f5;
}

#win,
.text-green {
  color: #81b64c;
}

.text-black {
  color: black;
}

#draw,
.text-gray {
  color: #b3aca8;
}

#loss,
.text-red {
  color: #ba0c2f;
}

.text-gold {
  color: #ca9372;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.icon-base {
  font-size: 1rem;
}

.icon-med {
  font-size: 1.5rem;
}

.icon-xxl {
  font-size: 6rem;
}

.icon-sm {
  font-size: 0.7rem;
}

.gap-half {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.col-gap-1 {
  column-gap: 1rem;
}

.font-jetbrains {
  font-family: "JetBrains Mono", monospace;
}

.text-gray-2 {
  color: #565352;
}

.search-box,
.search-box-main {
  background-color: #f5f5f5;
  border: none;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
}

.search-box-main {
  font-size: 1rem;
}

.search-box:focus,
.search-box-main:focus {
  outline: none;
}

.search-icon,
.search-icon-main {
  background-color: #f5f5f5;
  padding: 0.23rem;
  border: none;
}

.search-icon {
  font-size: 0.7rem;
}

.search-icon-main {
  padding: 0.35rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}

.nav-item {
  font-family: "JetBrains Mono", monospace;
  border: 1px solid transparent;
  background-color: transparent;
  color: #f5f5f5;
  padding: 0.75rem 0;
  margin: 0 1rem;
}

.height-500 {
  height: 500px;
}

.mt-3 {
  margin-top: 3rem;
}

.font-thin {
  font-weight: 100;
}

.mtb-three-fourths {
  margin: 0.75rem 0;
}

.avatar-wrapper img {
  max-width: 125px;
  border-radius: 3px;
  border: 1px solid black;
}

.league-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 3rem;
}

.league-wrapper img {
  width: 100%;
}

.club-icon-wrapper img {
  width: 1rem;
  border-radius: 3px;
  border: 1px solid black;
}

.club-icon-wrapper {
  display: flex;
  align-items: center;
  flex-basis: 25%;
}

.header-box > div {
  font-size: 0.75rem;
}

#clubs-table div {
  padding: 0.1rem;
}

#player-info-header > div {
  font-size: 0.6rem;
}

#account-info-name,
#account-info-followers,
#account-info-location,
#account-info-joined {
  color: #aaa;
}

#account-info-country {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1rem;
}

.font-italic {
  font-style: italic;
}

.leading-1 {
  line-height: 0.1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.content-box,
.header-box {
  border-radius: 3px;
  box-shadow: 0 4px #1d1c1a;
  background-color: #262522;
  padding: 0.1rem 0.25rem;
  margin-top: 0.3rem;
}

.header-box {
  margin-top: 0.75rem;
}

.match-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 3px;
  box-shadow: 0 4px #1d1c1a;
  margin-top: 0.5rem;
}

.bg-win {
  background:
    linear-gradient(
      90deg,
      #81b64c 0%,
      #81b64c 1.5%,
      #262522 1.5%,
      #262522 98.5%,
      #81b64c 98.5%,
      #81b64c 100%
    );
}

.bg-draw {
  background:
    linear-gradient(
      90deg,
      #b3aca8 0%,
      #b3aca8 1.5%,
      #262522 1.5%,
      #262522 98.5%,
      #b3aca8 98.5%,
      #b3aca8 100%
    );
}

.bg-loss {
  background:
    linear-gradient(
      90deg,
      #ba0c2f 0%,
      #ba0c2f 1.5%,
      #262522 1.5%,
      #262522 98.5%,
      #ba0c2f 98.5%,
      #ba0c2f 100%
    );
}

.cell-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-cell,
.user-cell,
.result-cell,
.link-cell {
  padding: 0.5rem 0.25rem;
}

.refresh-btn,
.bookmark-btn,
.delete-btn {
  border: none;
  background-color: #262522;
  color: #fff;
  font-size: 0.65rem;
}

.link-cell > div > a > i:hover,
.link-cell > div:nth-of-type(2) > button > i:hover,
.link-cell > div:nth-of-type(3) > button > i:hover,
.refresh-btn:hover,
.nav-item:hover {
  cursor: pointer;
  color: #ca9372;
}

.nav-item:hover {
  border-bottom: 1px solid #f5f5f5;
}

.result-cell {
  display: none;
}

#stats-table,
#clubs-table {
  font-size: 0.5rem;
}

#stats-table > tbody tr {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0;
}

#stats-table > tbody tr td > p {
  margin: 0;
}

#clubs-table div > div:nth-of-type(1) {
  padding-right: 0.25rem;
}

#clubs-table div > div:nth-of-type(2) > p:nth-of-type(1) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 5rem;
}

#clubs-table div > div:nth-of-type(2) > p:nth-of-type(1),
#clubs-table div > div:nth-of-type(2) > p:nth-of-type(2) {
  margin: 0;
}

#clubs-table div > div:nth-of-type(2) > p:nth-of-type(2),
#stats-table > tbody tr > td:nth-of-type(1) > p:nth-of-type(2),
#stats-table > tbody tr > td:nth-of-type(2) > p:nth-of-type(2) {
  color: #aaa;
  font-size: 0.4rem;
}

#league-rank {
  font-size: 0.75rem;
}

#stats-table > tbody tr > td:nth-of-type(2) {
  text-align: right;
}

.match-info {
  width: 100%;
  font-size: 0.5rem;
}

#bookmarks-list div.match-entry > .match-info {
  font-size: 0.75rem;
}

.cell-names {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.cell-names span:nth-of-type(1) {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 2rem;
  width: 2rem;
}

#logo span {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem 0;
}

#win-pct {
  margin: 0;
}

#match-header {
  font-size: 0.6rem;
}

#account-info-league {
  font-size: 0.75rem;
}

#leaderboard-select {
  border: none;
  background-color: #262522;
  color: #f5f5f5;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

#leaderboard > div.col {
  box-shadow: 0 4px #1d1c1a;
  background-color: #262522;
}

#leaderboard-table {
  border-collapse: collapse;
}

#leaderboard-table thead {
  background-color: #262522;
}

#leaderboard-table th {
  padding: 1rem;
  font-weight: 300;
  font-size: 0.75rem;
}

td.rank,
td.username,
td.country,
td.rating,
td.win-pct {
  text-align: center;
  font-size: 0.75rem;
  padding: 0.75rem;
  background-color: #f5f5f5;
}

td.rating {
  color: #ca9372;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 6rem;
}

.country {
  display: none;
}

td.country {
  font-size: 1rem;
}

td.username {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 8rem;
}

.mt-1 {
  margin-top: 1rem;
}

.bookmark-modal {
  position: fixed;
  z-index: 1;
  top: 1rem;
  width: 100%;
  margin: 0 auto;
}

#bookmarks div.header-box > div {
  font-weight: 300;
  font-size: 1rem;
  padding: 0.5rem 0;
}

#bookmarks div.header-box {
  padding: 0 1rem;
}

#bookmarks-list div.match-entry {
  padding: 0.5rem 0;
}

/* Hide bookmark icon in the bookmarks list */
#bookmarks-list div.match-entry > table > tbody > tr td.link-cell div:nth-of-type(2) {
  display: none;
}

/* Hide trashcan icon in the match list */
#match-list div.match-entry > table > tbody > tr td.link-cell div:nth-of-type(3) {
  display: none;
}

#match-list-date {
  border: none;
  background-color: #262522;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 0.6rem;
  font-family:
    "JetBrains Mono",
    monospace;
}

.board-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 2rem;
}

.board-wrapper img {
  width: 100%;
}

#match-list-date:hover,
#logo:hover,
.search-icon:hover,
.search-icon-main:hover,
.board-wrapper:hover {
  cursor: pointer;
}

.padding-1 {
  padding: 1rem;
}

/* duration, easing function, delay, iterations, animation function */
.fade-out {
  animation: 1s ease-out 1s 1 fade-out;
}

.zoom-delete {
  animation: zoom-delete forwards 0.7s ease-out 1;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoom-delete {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    height: 0;
    min-height: 0;
    transform: scale(0);
    opacity: 0;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (width <= 486px) {
  .scroll {
    overflow-x: scroll;
  }
}

@media only screen and (min-width: 486px) {
  .result-cell,
  #bookmarks-list div.match-entry > table > tbody > tr td.result-cell {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
  .content-box {
    padding: 0.25rem 0.5rem;
  }

  .header-box {
    padding: 0.5rem;
    margin-top: 1rem;
  }

  .header-box > div {
    font-size: 1rem;
  }

  #player-info-header > div {
    font-size: 0.8rem;
  }

  .country {
    display: table-cell;
  }

  .refresh-btn,
  .bookmark-btn,
  .delete-btn {
    font-size: 0.9rem;
  }

  #account-info-league {
    font-size: 1rem;
  }

  .match-info {
    font-size: 0.8rem;
  }

  #match-header,
  #match-list-date {
    font-size: 1rem;
  }

  .info-cell,
  .user-cell,
  .result-cell,
  .link-cell {
    padding: 0.5rem 1rem;
  }

  .result-cell {
    display: inline-block;
  }

  #account-info-country {
    font-size: 1.1rem;
  }

  #stats-table,
  #clubs-table {
    font-size: 0.75rem;
  }

  #bookmarks div.header-box > div {
    font-size: 1.5rem;
  }

  #bookmarks-list div.match-entry > .match-info {
    font-size: 1rem;
  }

  #clubs-table div > div:nth-of-type(1) {
    padding-right: 0.5rem;
  }

  #clubs-table div > div:nth-of-type(2) > p:nth-of-type(1) {
    width: 8rem;
  }

  #clubs-table div > div:nth-of-type(2) > p:nth-of-type(2),
  #stats-table > tbody tr > td:nth-of-type(1) > p:nth-of-type(2),
  #stats-table > tbody tr > td:nth-of-type(2) > p:nth-of-type(2) {
    font-size: 0.65rem;
  }

  .avatar-wrapper img {
    max-width: 150px;
  }

  .league-wrapper {
    max-width: 4rem;
  }

  .club-icon-wrapper img {
    width: 2rem;
  }

  #clubs-table div > div:nth-of-type(2) {
    flex-basis: 75%;
  }

  #league-rank {
    font-size: 1rem;
  }

  .cell-names {
    column-gap: 10px;
  }

  .cell-names span:nth-of-type(1) {
    max-width: 8rem;
    width: 8rem;
  }
}
