span {
  white-space: pre;
}

.bg-blue-1 {
  background-color: #363944;
}

.bg-blue-2 {
  background-color: #292b33;
}

.bg-dark-gray {
  background-color: #333;
}

.bg-white {
  background-color: #f5f5f5;
}

.text-white {
  color: #f5f5f5;
}

#win,
.text-green {
  color: #81b64c;
}

.text-black {
  color: black;
}

#draw,
.text-gray {
  color: #b3aca8;
}

#loss,
.text-red {
  color: #ba0c2f;
}

.text-gold {
  color: #ca9372;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.icon-base {
  font-size: 1rem;
}

.icon-med {
  font-size: 1.5rem;
}

.icon-xxl {
  font-size: 6rem;
}

.icon-sm {
  font-size: 0.75rem;
}

.gap-half {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.font-jetbrains {
  font-family: "JetBrains Mono", monospace;
}

.search-box,
.search-box-main {
  border-radius: 3px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  padding: 0.2rem 0.5rem;
  padding-right: 2.5rem;
  font-size: 0.7rem;
}

.search-box-main {
  font-size: 1rem;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 1px;
}

.input-icon-main {
  position: absolute;
  right: 12px;
  top: 4px;
}

.input-group {
  position: relative;
  display: inline-block;
}

.nav-item {
  border: none;
  background-color: transparent;
  color: #f5f5f5;
  padding: 0.75rem 0;
}

.height-500 {
  height: 500px;
}

.mt-3 {
  margin-top: 3rem;
}

.font-thin {
  font-weight: 100;
}

.mtb-three-fourths {
  margin: 0.75rem 0;
}

.avatar-wrapper img {
  max-width: 125px;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
}

.league-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 3rem;
}

.league-wrapper img {
  width: 100%;
}

.club-icon-wrapper img {
  width: 30px;
  border-radius: 3px;
  border: 1px solid black;
}

.club-icon-wrapper {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-right: 0.5rem;
}

#player-info-header {
  font-size: 0.6rem;
  height: 150px;
}

#account-info-name,
#account-info-followers,
#account-info-location,
#account-info-joined {
  color: #aaa;
}

#account-info-country {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1rem;
}

.font-italic {
  font-style: italic;
}

.leading-1 {
  line-height: 0.1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.content-box {
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
  background-color: #363944;
  padding: 0.5rem;
  margin-top: 1rem;
}

.match-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
  margin-top: 0.5rem;
}

.bg-win {
  background:
    linear-gradient(
      90deg,
      #81b64c 0%,
      #81b64c 1.5%,
      #363944 1.5%,
      #363944 98.5%,
      #81b64c 98.5%,
      #81b64c 100%
    );
}

.bg-draw {
  background:
    linear-gradient(
      90deg,
      #b3aca8 0%,
      #b3aca8 1.5%,
      #363944 1.5%,
      #363944 98.5%,
      #b3aca8 98.5%,
      #b3aca8 100%
    );
}

.bg-loss {
  background:
    linear-gradient(
      90deg,
      #ba0c2f 0%,
      #ba0c2f 1.5%,
      #363944 1.5%,
      #363944 98.5%,
      #ba0c2f 98.5%,
      #ba0c2f 100%
    );
}

.cell-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-cell,
.user-cell,
.result-cell,
.rating-cell,
.link-cell {
  padding: 0.5rem 0.85rem;
}

.refresh-btn,
.bookmark-btn {
  border: none;
  background-color: #363944;
  color: #fff;
  font-size: 0.65rem;
}

.link-cell > div > a > i:hover,
.link-cell > div:nth-of-type(2) > button > i:hover,
.refresh-btn:hover,
#nav-leaderboard:hover,
#nav-bookmarks:hover {
  cursor: pointer;
  color: #ca9372;
}

.rating-cell,
.result-cell {
  display: none;
}

#stats-table > tbody tr td,
#clubs-table div {
  padding-top: 0.25rem;
}

#stats-table,
#clubs-table {
  font-size: 0.5rem;
}

#stats-table tbody tr td > p {
  margin: 0;
}

#account-stats > div:nth-of-type(1),
#clubs > div > div:nth-of-type(1) {
  border-bottom: 1px solid #f5f5f5;
  font-size: 0.75rem;
  margin-top: 0;
  padding-bottom: 5px;
}

#clubs-table div > div:nth-of-type(2) > p:nth-of-type(1) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 5rem;
}

#clubs-table div > div:nth-of-type(2) > p:nth-of-type(1),
#clubs-table div > div:nth-of-type(2) > p:nth-of-type(2) {
  margin: 0;
}

#clubs-table div > div:nth-of-type(2) > p:nth-of-type(2),
#stats-table > tbody tr > td:nth-of-type(2) > p:nth-of-type(2),
#stats-table > tbody tr > td:nth-of-type(3) > p:nth-of-type(2) {
  color: #aaa;
  font-size: 0.4rem;
}

#league-rank {
  font-size: 0.75rem;
}

#stats-table > tbody tr > td:nth-of-type(1) {
  width: 15px;
}

#stats-table > tbody tr > td:nth-of-type(1) > i {
  font-size: 0.75rem;
}

#stats-table > tbody tr > td:nth-of-type(3) {
  text-align: right;
}

.match-info {
  width: 100%;
  font-size: 0.5rem;
}

.cell-names {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 2rem;
  width: 2rem;
}

#win-pct {
  margin: 0;
}

#match-header {
  font-size: 0.6rem;
}

#account-info-league {
  font-size: 0.75rem;
}

.leaderboard-type {
  background-color: #292b33;
  color: #f5f5f5;
  display: flex;
}

#leaderboard-select {
  border: none;
  background-color: #292b33;
  color: #f5f5f5;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

#leaderboard > div.col {
  box-shadow: 2px 2px 2px black;
  background-color: #363944;
}

#leaderboard-table {
  border-collapse: collapse;
}

#leaderboard-table thead {
  background-color: #363944;
}

#leaderboard-table th {
  padding: 1rem;
  font-weight: 300;
  font-size: 0.75rem;
}

td.rank,
td.username,
td.country,
td.rating,
td.win-pct {
  text-align: center;
  font-size: 0.75rem;
  padding: 0.75rem;
  background-color: #f5f5f5;
}

td.rating {
  color: #ca9372;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 6rem;
}

.country {
  display: none;
}

td.country {
  font-size: 1rem;
}

td.username {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 8rem;
}

.mt-1 {
  margin-top: 1rem;
}

#bookmarks-list div.match-entry {
  padding: 0.5rem 0;
}

@media only screen and (min-width: 486px) {
  .result-cell,
  #bookmarks-list div.match-entry > table > tbody > tr td.result-cell {
    display: inline-block;
  }

  #bookmarks-list div.match-entry > .match-info {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 768px) {
  .country {
    display: table-cell;
  }

  #stats-table > tbody tr td,
  #clubs-table div {
    padding-top: 0.5rem;
  }

  .refresh-btn,
  .bookmark-btn {
    font-size: 0.9rem;
  }

  #account-info-league {
    font-size: 1rem;
  }

  .match-info,
  #bookmarks-list div.match-entry > .match-info {
    font-size: 1rem;
  }

  #match-header {
    font-size: 1rem;
  }

  .info-cell,
  .user-cell,
  .result-cell,
  .rating-cell,
  .link-cell {
    padding: 0.5rem 2rem;
  }

  .result-cell {
    display: inline-block;
  }

  #player-info-header {
    font-size: 0.8rem;
    height: 170px;
  }

  #account-info-country {
    font-size: 1.1rem;
  }

  #stats-table,
  #clubs-table {
    font-size: 0.75rem;
  }

  #clubs-table div > div:nth-of-type(2) > p:nth-of-type(1) {
    width: 8rem;
  }

  #clubs-table div > div:nth-of-type(2) > p:nth-of-type(2),
  #stats-table > tbody tr > td:nth-of-type(2) > p:nth-of-type(2),
  #stats-table > tbody tr > td:nth-of-type(3) > p:nth-of-type(2) {
    font-size: 0.65rem;
  }

  #account-stats > div:nth-of-type(1),
  #clubs > div > div:nth-of-type(1) {
    font-size: 1rem;
  }

  #stats-table > tbody tr > td:nth-of-type(1) {
    width: 20px;
  }

  #stats-table > tbody tr > td:nth-of-type(1) > i {
    font-size: 1rem;
  }

  #bookmarks-list div.match-entry > table > tbody > tr td.rating-cell {
    display: none;
  }

  .avatar-wrapper img {
    max-width: 150px;
  }

  .league-wrapper {
    max-width: 4rem;
  }

  .club-icon-wrapper {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    margin-right: 0.5rem;
  }

  .club-icon-wrapper img {
    width: 40px;
  }

  #clubs-table div > div:nth-of-type(2) {
    flex-basis: 75%;
  }

  #league-rank {
    font-size: 1rem;
  }

  .cell-names {
    max-width: 5rem;
    width: 5rem;
  }
}

@media only screen and (min-width: 918px) {
  .rating-cell {
    display: inline-block;
  }
}

@media only screen and (min-width: 968px) {
  #bookmarks-list div.match-entry > table > tbody > tr td.rating-cell {
    display: inline-block;
  }
}
